.footer {
	margin-top: auto;
	color: #fff;
	background: #00003f;
}

.footerBody {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 15px 0;
}

.copyright {
	font-size: 0.875em;
}

.authors {
	font-size: 0.8em;
	color: yellow;

	& span {
		color: var(--blue);
	}

	& b {
		color: #fff;
	}
}
