.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin: 20px;
	padding: 20px;
}

.form {
	width: 100%;
	max-width: 350px;
	font-size: 20px;
	text-align: center;
}

.userLogo img {
	width: 40vw;
	max-width: 200px;
	border-radius: 50%;
	border-style: double;
	margin: 0 auto;
}

.formContainer {
	display: flex;
	flex-direction: column;
}

.formGroup {
	margin: 15px 0 0;
	position: relative;

	& .fa-user,
	& .fa-lock {
		position: absolute;
		transform: translate(-30px, 10px);
		color: grey;
	}
}

.userName,
.password {
	width: 100%;
	border: 1px solid var(--dark);
	padding: 5px 10px;
}

.rememberForgot {
	margin: 15px 0 0;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}

.loginBtn {
	width: 100%;
	height: 45px;
	border-radius: 10px;
	box-shadow: 0 0 10px;
	font-weight: 500;
	background-color: lightgray;
	cursor: pointer;
}

.registerAccount {
	display: flex;
	justify-content: space-between;
	margin: 15px 0 0;
}

/* .remember-forgot {
	display: flex;
	justify-content: space-between;
	margin: 1px 0 1px;
	font-size: 16px;
}

.register-form {
	display: flex;
	justify-content: space-between;
	margin: 1px 0 1px;
}
.account {
	width: 100%;
	height: 45px;
	border-radius: 9px;
	box-shadow: 0 0 10px;
	font-weight: 500;
	background-color: lightgray;
}

.username {
	position: relative;
} */
/* @media (max-width: 768px) {
	.username {
		position: relative;
	}
	.fa-solid {
		font-weight: 900;
		left: 75%;
		position: absolute;
		right: 645px;
		transform: translateY(9px);
		color: grey;
	}

	& span {
		margin: 0 0 5 10px;
	}
} */
