.sliderBlock {
	text-align: center;
	padding: 0 15px;
	margin: 0 auto;

	& p {
		color: var(--dark);
	}

	& img {
		width: 100%;
		max-height: 50vh !important;
	}
}

@media screen and (min-width: 1024px) {
	.sliderBlock {
		width: 60vw;

		& img {
			max-height: 45vh !important;
		}
	}
}
